.card
  .card-header
    %h4= board.title
    - board.tags.each do |tag|
      %span.badge.badge-primary= tag.name
  .card-body
    %p.card-text= auto_link(simple_format(board.body), html: {target: '_blank'})
    %p.text-right.font-weight-bold.mr-10= board.user.username